<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Modifica stato')}">

<body class="bg-secondary-subtle">
    <nav th:insert="~{fragments/navbar ::navbar}"></nav>
    <main class="container">
        <h1 class="text-center">Aggiorna il tuo stato [[${utente.nome}]]</h1>
        <p class="text-center text-danger" th:text="${err}"></p>
        <form class="text-center" th:action="@{/user/editStato}" method="POST" th:object="${utente}">
            <input type="hidden" th:field="*{nome}">
            <input type="hidden" th:field="*{email}">
            <input type="hidden" th:field="*{id}">
            <div class="mb-3">
                <label for="stato_personale" class="form-label">Seleziona il tuo stato attuale: </label>
                <select th:field="*{statoPersonale}" id="stato_personale" th:errorClass="is-invalid">
                    <option value="Disponibile">Disponibile</option>
                    <option value="Non Disponibile">Non Disponibile</option>
                </select>

                <div th:if="${#fields.hasErrors('statoPersonale')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('statoPersonale')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-warning">Aggiorna</button>
        </form>

    </main>


    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>