<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Edit user')}">

<body>

    <nav th:insert="~{fragments/navbar :: navbar}"></nav>
    <main class="container">

        <h1>Modifica utente</h1>
        <form th:action="@{|/user/${user.id}/edit|}" method="POST" th:object="${user}">
            <div class="mb-3">
                <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control" th:field="*{nome}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('nome')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('nome')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" th:field="*{email}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('email')}" th:text="${error}"></li>
                    </ul>
                </div>
                <div th:text="${errMail}" class="invalid-feedback"></div>
            </div>


            <div class="mb-3">
                <label for="stato_personale">Stato</label>
                <select type="text" id="stato_personale" class="form-select" th:field="*{statoPersonale}"
                    th:errorClass="is-invalid">
                    <option value="Disponibile">Disponibile</option>
                    <option value="Non Disponibile">Non Disponibile</option>
                </select>

                <div th:if="${#fields.hasErrors('statoPersonale')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('statoPersonale')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="ruolo">Ruolo</label>
                <select type="text" id="ruolo" class="form-select" th:field="*{roles}"
                    th:errorClass="is-invalid">
                    <option value="1">ADMIN</option>
                    <option value="2">OPERATORE</option>
                </select>

                <div th:if="${#fields.hasErrors('roles')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('roles')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>

            <div class="mb-3">
                <label for="password">Password</label>
                <input type="password" id="password" class="form-control" th:field="*{password}"
                    th:errorClass="is-invalid" autocomplete="off">

                <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('password')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>


            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Modifica</button>
            </div>
        </form>


    </main>




    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>