<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('User Index')}">

<body class="bg-secondary-subtle">
    <nav th:insert="~{fragments/navbar ::navbar}"></nav>

    <main class="container">
        <h1 class="text-center">Indice Operatori</h1>
        <div class="d-flex justify-content-between mb-3">
            <section sec:authorize="hasAuthority('ADMIN')">
                <form th:action="@{/user}" method="GET" class="d-flex">
                  
                        <input type="search" name="keyword" class="form-control" id="cerca-ticket"
                            placeholder="Cerca tra gli Operatori">
                        <button type="submit" class="btn btn-success">Cerca</button>
                    
                </form>

            </section>
            <div class="">
                <a th:href="@{/user/create}" class="btn btn-success">Crea nuovo utente</a>
            </div>
        </div>

        <table class="table table-info table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Stato</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="utente : ${utenti}" th:object="${utente}">
                    <td>[[*{id}]]</td>
                    <td>[[*{nome}]]</td>
                    <td>[[*{email}]]</td>
                    <td>[[*{statoPersonale}]]</td>
                    <td>
                        <a th:href="@{|user/*{id}/edit|}" class="btn btn-primary">Modifica</a>
                    </td>

                </tr>
            </tbody>

        </table>


    </main>

    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>