<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Home')}">

<body class="bg-secondary-subtle">
    <nav th:insert="~{fragments/navbar ::navbar}"></nav>
    <main class="container">
        <div class="text-center mt-3">
            <h1 class="">Homepage</h1>
            <h2>Ciao <strong>[[${user.nome}]]</strong>!</h3>
           
        </div>

    </main>


    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>