<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Errore 404')}">

<body class="bg-secondary-subtle">
    <main class="container">
        <div class="text-center mt-5">
            <h1 class="">Errore 404!</h1>
            <p th:text="${message}"></p>
            <a th:href="@{/}" class="btn btn-primary">Torna alla home</a>
           
        </div>


    </main>


    <th:block th:insert="~{fragments/footer :: script}"></th:block>
</body>

</html>